* {
    box-sizing : border-box;
}

body {
    background-color: bisque;
}
header {
    background-color: aquamarine;
}
footer {
    background-color: crimson;
}
article { 
    float : left;
    padding: 10px;
    background-color: cadetblue;
    width : 800px;
    height : 700px;
}

.contentpage {
    padding : 10px;
    background: darkgray;
    margin-top: 19px;
    margin-left: 800px;
    width : 800px;
    height : 700px;
}
section::after{
    content : "";
    display: table;
    clear : both;
}
