
*{
	margin : 0;
	padding: 0;
	font-size: 20px;
}

.container{
	margin: 60px auto;
	width: 440px;
	height: auto;	
}

header{
	background-color: rgb(34, 48, 241);
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;

}

.body{

	display: flex;
	height: auto;
	width: auto;
}
div{
	border: 1px solid black;
}

form{
	background-color: rgb(9, 170, 170);
}
button{
	background-color: darkslategrey;
}
input{
	background-color: rgb(226, 73, 12);
}
p{
	background-color: lightslategrey;
	text-align: center;
}
h4{
	background-color: rgb(233, 211, 12);
	text-align: right;
}